* {
    border-radius: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    padding: 50px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.h1, .h2, .h3 {
    margin-top: 21px;
    margin-bottom: 10.5px;
}
.h4 {
    margin-bottom: 15px;
}
.tin {
    font-weight: 100 !important;
}
hr {
    margin: 30px 0;
    border-color: transparent;
}
hr.grey {
    border-color: #f1f1f1;
}
hr.lg {
    margin: 50px 0;
}
.em {
    font-style: italic;
}
.non-em {
    font-style: normal;
}
.serif {
    font-family: Georgia, serif;
}
ul.square {
    padding-left: 18px;
}
ul.square li {
    list-style: square;
    font-weight: 300;
}
p {
    margin-bottom: 20px;
}
section#components {
    padding-top: 0px;
}
.sidebar-nav {
    padding: 9px 0;
}
.fake {
    display: block !important;
    visibility: hidden !important;
    margin-top: -50px;
}
.well, .well-lg {
    border: none;
    box-shadow: none;
/*    background: #f8f8f8;*/
/*    background: #f1f3f5;*/
    background: #f5f6f7;
}
.well-lg {
/*    padding: 30px 50px;*/
    padding: 30px 60px;
}
.headerDoc {
    color: #005580;
}
span.note {
    font-size: 14px;
}
.source-area {
    width: 100%;
    height: 200px;
    background: #D9D9D9;
}
#css-download, #javascript-download {
    display: none;
}
@media (max-width: 978px) {
    .select2 {
        padding-left: 0px;
        float:left;
        width: 100%;
    }
}
@media (max-width: 767px) {
    .tocify {
        padding-bottom: 20px;
    }
}
@media (max-width: 480px) {
    .hero-unit h1 {
        font-size: 30px;
    }
}
@media (max-width: 767px) {
    #toc {
        position: relative;
        width: 100%;
        margin: 0px 0px 20px 0px;
    }
}
pre .line .line-number {
    display: none;
}

.tocify-item a {
    color: #999 !important;
}
.tocify-item.active a, .tocify-item a:hover {
    color: #000 !important;
    background: none !important;
/*    box-shadow: inset 4px 0 0 #000;*/
}
.tocify-item.active a:before, .tocify-item a:hover:before {
/*
    content: "";
    display: block;
    position: absolute;
    bottom: 18px;
    width: 4px;
    height: 2px;
    background: #000;
*/
}
.tocify-subheader .tocify-item a {
/*    box-shadow: inset 4px 0 0 #000;*/
}
.tocify-subheader .tocify-item a:before {
    content: "\2014";
/*    content: "\005F";*/
    padding-right: 5px;
/*
    content: "";
    display: block;
    position: absolute;
    bottom: 18px;
    width: 4px;
    height: 2px;
    background: #000;
*/
}
.tocify-subheader {
    text-indent: 10px;
}
.tocify-subheader li {
    font-size: 14px;
/*    padding-left: 15px;*/
}

pre {
    border: none;
}
.rainbow .line .line-code {
    padding-right: 1em;
}

#toc {
    overflow: visible;
}
.copy {
    position: absolute;
    bottom: -100px;
    margin: 0 15px;
    padding-top: 20px;
    font-size: 11px;
    color: #999;
}
.copy:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 30px;
    height: 2px;
    background: #000;
}



.tocify{
    padding-top: 20px;
    margin-top: 20px;
}
.well-lg{
    padding-top: 60px;
    margin-top: 20px;
    height: 100%;
    border-radius: 0px !important;
}
.navbar{
    min-height: 30px;
    max-height: 60px;
}
.container{
    width:90%;
}

p{
    hyphens: none!important;
}

.pro-w{
    background: white
}

.pro-g{
    background: #EDEDED;
}



.projectcontent.container{
    padding-left:0px;
    margin-left:0px; 
}


h4{
    font-weight: 200;
    padding-bottom: 15px;
}


p.tablecontent{
    font-weight: 300;
}

.noteinproject{
    background: #D4D3D5;
}

h2.alipay{
    color:#0A58C0;
    font-weight: 900;
    padding-top: 30px;
    margin-top: 30px;
}

h2.about{
    margin-top: 0px;
}








